listener "tcp" {
  address = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_disable = 1
}

storage "raft" {
  path = "{{ vault_data_directory }}"
  node_id = "{{ inventory_hostname }}"
{% if inventory_hostname != vault_leader_node %}

  retry_join {
    leader_api_addr = "http://{{ hostvars[vault_leader_node]['private_ip_address'] }}:8200"
  }
{% endif %}
}

ui = true
api_addr = "http://{{ vault_bind_address }}:8200"
cluster_addr = "http://{{ vault_bind_address }}:8201"
disable_mlock = true
